@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

.auth-container {
  display: flex;
  height: 100vh;
  font-family: 'Roboto', sans-serif;
}

.auth-left {
  flex: 1;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.auth-left img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}

.image-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}

.auth-right {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(#4CAF50, #fff);
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}

.auth-box {
  background: #fff;
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: 100%;
  max-width: 400px;
  text-align: center;
  position: relative;
  animation: fadeIn 1s ease-in-out;
}

.login-logo {
  position: fixed;
  top: 10px;
  right: 10px;
  width: 200px;
  height: 100px;
  margin-right: 300px;
}

.auth-box h2 {
  margin-bottom: 20px;
  font-size: 24px;
  color: #333;
  font-weight: 700;
}

.input-group {
  margin-bottom: 15px;
  text-align: left;
}

.input-group label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
  color: #666;
}

.input-group input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-sizing: border-box;
  font-size: 16px;
  transition: border-color 0.3s;
}

.input-group input:focus {
  border-color: #4CAF50;
}

.btn {
  width: 100%;
  padding: 10px;
  background-color: #4CAF50;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.btn:hover {
  background: #45a049;
}

.switch-link {
  margin-top: 15px;
}

.switch-link a {
  color: #2575fc;
  text-decoration: none;
  font-weight: bold;
}

.switch-link a:hover {
  text-decoration: underline;
}

.google-btn {
  margin-top: 15px;
  display: flex;
  justify-content: center;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.error {
  color: red;
  font-size: 12px;
}
